<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.activitybuilder">

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:name=".ActivityBuilderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActivityBuilder">
        <activity
            android:name=".EditEvent"
            android:exported="false" />
        <activity
            android:name=".EditStop"
            android:exported="false" />
        <activity
            android:name=".ManageStops"
            android:exported="false" />
        <activity
            android:name=".UnsuccessfulPair"
            android:exported="false" />
        <activity
            android:name=".SuccessfulPair"
            android:exported="false" />
        <activity
            android:name=".ManageEvents"
            android:exported="false" />
        <activity
            android:name=".PairNfcTag"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="text/plain"></data>
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateStop"
            android:exported="false" />
        <activity
            android:name=".CloneEvent"
            android:exported="false" />
        <activity
            android:name=".Help"
            android:exported="false" />
        <activity
            android:name=".CreateEvent"
            android:exported="false" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>